<%# encoding: utf-8 %>
<doctype <!DOCTYPE html>
<html class="no-js">
  <head>
    <style type="text/css">

      body {
        margin: 0;
        padding: 0;

        padding-top: 10px;
      }

      .clearfix:before, .clearfix:after {
          content: "\0020";
          display: block;
          height: 0;
          overflow: hidden;
      }

      .clearfix:after { clear: both; }

      /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

      .clearfix { zoom: 1; }

      body {
        font-family: "Arial";
      }

      #hash {
        font-size: 40px;
        float:left;
        padding:5px 17px;
        background: black;
        border-radius:5px;
        color:white;
        margin-right: 12px;
        margin-bottom: 30px;
      }

      #message {
        margin-left: 20px;
        margin-bottom: 22px;
        line-height: 42px;
      }

      #follow {
        margin-bottom:30px;
        text-align: center;
        padding: 18px;
        background: black;
        color: white;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="clearfix">
      <div id="hash">#</div>
      <div style="float:left">
        <span style="font-size: 28px;font-weight:bold;">Simply Business</span><br>
        <span style="font-size: 20px;">#SmackMyPitchUp</span>
      </div>
    </div>
    <div style="font-size:24px;" id="message"> <%= message%> </div>

    <div id="follow">FOLLOW US @SimplyBusiness</div>
  </body>
</html>
